
body {
     background-color: #FFFFFF;
}

h1 {
	border-style:solid none solid none;
	color:saddlebrown;
	text-align:center;
        font-family:comic sans MS;
        font-size:30pt;	
}

#container {
   width:960px;
   margin:40px auto;
}
#left {
    float: left;
    width:200px;
}
#center{
  float:left;
  width:560px;
}	
#right{
   float: left;
   width:200px;
}

p  {
     color:olivedrab;
     font-family:comic sans MS;
     font-size:20pt;
}
